
<div class="col-md-12 container fullsize yourBumper">
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div ng-show="success" class="alert alert-success">{{successMessage}}</div>

    <div class="grid">
        <div class="myBumperInput">
            <h3 class="addInstruction">Add Item</h3>
            <img class="imgPreview" ng-attr-src="{{BumperForm.imgUrl}}">           

            <form class="addform" ng-submit="addBumper()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" ng-model="BumperForm.title" required>
                </div>
                <div class="form-group">
                    <label>Source (http link) </label>
                    <input type="text" class="form-control" name="imgUrl" ng-model="BumperForm.imgUrl" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" ng-disabled="disabled">Add</button>
                </div>
            </form>                
        </div>  
        <div class="mygrid" masonry="{columnWidth:210, gutter: 10, stagger: 30, transitionDuration: '0.6s'}">      
            <div class="masonry-brick" myBumper" ng-repeat="Bumper in myBumper track by $index">
                <div class="">
                    <img ng-attr-src="{{Bumper.imgUrl}}" alt="{{Bumper.title}}" class="myBumperSearchImg">
                </div>
                <div class="">  
                    <h3 class="bumperSearchTitle">{{Bumper.title}}</h3>
                </div> 
                <form class="form" ng-submit="removeBumper(Bumper._id, Bumper.authorID)">
                    <div class="form-group"></div>
                    <button type="submit" class="btn btn-default removeBumper" ng-disabled="disabled">X</button>
                </form>    
                <div class="myBumperInfo">
                    <div class="myBumperName">
                    <p class="author"><a href="#/users/{{Bumper.authorID}}">{{Bumper.authorName}}</a></p>
                    </div>
                    <form class="form-like" ng-click="likeBumper(Bumper._id)">
                        <div class="form-group">
                            <p class="likedby"><i class="fa fa-heart faSpacer" ng-class="{ 'fa-heart-clicked': clicked(Bumper.likeby) }"></i>{{ count(Bumper.likeby) }}</p>
                        </div>
                    </form>
                    <form class="form-repost" ng-click="repostBumper(Bumper._id)">
                        <div class="form-group">
                        <p class="repostedby"><i class="fa fa-refresh fa-repost faSpacer" ng-class="{ 'fa-repost-clicked': clicked(Bumper.repostedby) }"></i>{{ count(Bumper.repostedby) }}</p>
                        </div>
                    </form>             
                </div>                  
            </div>
        </div>        
    </div>
</div>      

